*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI, sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);

color:white;

}

.container{

background:rgba(255,255,255,0.05);

backdrop-filter:blur(15px);

padding:40px;

border-radius:20px;

width:350px;

text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,0.3);

}

h1{

margin-bottom:5px;

}

.subtitle{

opacity:0.7;
margin-bottom:25px;

}

.senha-box{

display:flex;

margin-bottom:20px;

}

.senha-box input{

flex:1;

padding:10px;

border:none;

border-radius:8px 0 0 8px;

font-size:16px;

}

.senha-box button{

padding:10px 15px;

border:none;

background:#00d4ff;

color:white;

border-radius:0 8px 8px 0;

cursor:pointer;

}

.config{

margin-bottom:20px;

}

.config input{

width:100%;

margin-top:10px;

}

.opcoes{

text-align:left;

margin-bottom:20px;

}

.opcoes label{

display:block;

margin-bottom:8px;

font-size:14px;

}

#gerar{

width:100%;

padding:12px;

border:none;

background:#00d4ff;

color:white;

font-size:16px;

border-radius:10px;

cursor:pointer;

transition:0.3s;

}

#gerar:hover{

transform:scale(1.05);

}

.forca{

margin-top:20px;

}

#barra{

height:8px;

width:0%;

background:red;

border-radius:10px;

margin-bottom:5px;

transition:0.4s;

}
